<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body style="text-align:center;">
    <h1>Tokopaedi</h1>
    <h5>Situs jual beli online terlengkap, mudah dan aman</h5><br><br><br><br>
    <h3>Registration Form</h3>
    <form method="post" action="/register" style="text-align:left; margin-left:500px">
        <label for="email">Email : </label>
        <input type="email" name="email" placeholder="Input email here" /> <br><br>
        <label for="password">Password : </label>
        <input type="password" name="password" placeholder="Input password here" /> <br><br>
        <label for="role">Daftar sebagai : </label>
        <select name="role">
            <option selected disabled>Pilih salah satu</option>
            <option value="seller">Seller</option>
            <option value="user">User</option>
        </select> <br><br><br>
        <input type="submit" value="Sign Up">
        <button><a href="" style="text-decoration:none;">Back to Homepage</a></button>
    </form>
</body>
</html>